body {
  margin: 0;
  
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
        /* background: #fed47287; */
}
@media (max-width: 992px){
  html {
    font-size: 12px;
  }
}